// overide bootstrap variables

a{
    text-decoration: none !important;
    color: inherit !important;
}


@import '~bootstrap/scss/bootstrap.scss';

$titleFont : "Poppins",sans-serif;
$mainBg: #0C0B0B;
$orange: #FF7700;
$mainColor: #fff;
$black:#0C0B0B;


*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: $titleFont, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  // background-color: $main-Bg;  
  line-height: 1.6;
  font-size: 16px;
}

.mainBg{
  background-color:$mainBg;
}
.main-BgW{
  background-color:$mainColor;
}


nav{
  height: 15vh;
  
  .navbarr{
  
    // height: 54vh;
    width: 100vw;
    margin-left: -14px;
    z-index: 4;
    position: relative;
    ul {
      list-style:none;
      margin:0 !important;
      padding: 0;
      li{
          font-size: 2.25rem;
          font-weight: 800;
          text-transform: uppercase;
          height: 20vh;
          display: flex;
          justify-content: center;
          align-items: center;
      }
      li:nth-child(odd){
          background-color:$black;
          color:white;
      }
      li:nth-child(even){
          background-color:white;
          color:$orange;
      }
  }
    
  }
  .logo{
        background-color:$orange;
        height: 20vh;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 4.5rem;
        padding-bottom: 4rem;
        // margin-top: 4.3rem;
  }
  
}

.box{
    position: absolute;
    right: 8.5%;
    top: 4.5%;
    cursor: pointer;
    z-index: 5;
    padding: 1rem;

  .line{
      border-bottom: 2px solid white;
      position: absolute;
      top: 50%;
      right: 0;
      display:block;
      transition: all .4s ease-in;
      

      &::before{
          content: '';
          border-bottom: 2px solid white;
          position: absolute;
          top: 8px;
          right: 0;
          transition: all .4s ease-in;
          display:block;
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

      }
      &:after{
          content: '';
          border-bottom: 2px solid white;
          position: absolute;
          bottom: 5px;
          right: 0;
          transition: all .4s ease-in;
          display:block;
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      }
  
  }
  
  
}

.translate__Y{
  transform: translateY(-200%);
  transition: all 1.5s ease-out;
}
.translate__Y_open{
  transform: translateY(-16%);
  transition: all .5s cubic-bezier(.17,.67,.83,.67);
}

@media  screen and (min-width: 768px){
  #hamburger{
    display: none;
  }
  .navsection{
    align-items: baseline;
  .navbarr{
    justify-content: flex-end;
    transform:translateY(0);
    margin-left: 0;
    
    .logo{
      display: none;
    }
    .nav_list{
      width: 60%;
      display: flex;
    }
    .nav_list >li {
      font-size: .875rem;
      display: flex;
      width: 50%;
      justify-content: space-between;
      color: #8A8A8A;
      background-color: transparent;
      text-transform: none;
      font-weight: 500;
      height: unset;
      
      

}
    }
  }
  
  .brand{
    width:50%
  }
}
@media  screen and (min-width: 1024px){
    
}